<div class="container">
  <div class="row mt-2">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            You loved the <%= @dish.name %> at...
  
              <span class="label label-primary pull-right">
                <%= @dish.cuisine.name %>
              </span>
          </h4>
        </div>

        <ul class="list-group">
          <li class="list-group-item">
            
<!-- FORM to create bookmark -->     
            <form action="/create_bookmark" method="post">

              <!-- Hidden input for authenticity token to protect from forgery -->
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
        
              <!-- Label and input for dish_id -->
              <input type="hidden" name="dish_id" value="<%= @dish.id %>">

              <!-- Label and input for user_id -->
              <input type="hidden" name="user_id" value="<%= current_user.id %>">

              <!-- Label and input for venue_id -->
              <div class="form-group">
                <label for="venue_id" class="control-label">
                  Venue
                </label>
  
                <%= select_tag(:venue_id, options_from_collection_for_select(Venue.all, :id, :name), :class => "form-control") %>
              </div>
        
              <button class="btn btn-primary btn">
                <i class="fa fa-heart"></i>
              </button>
  
            </form>
          </li>

<!-- List of venues where you loved a dish --> 
        <% @user_bookmarks.each do |bookmark| %>
          <li class="list-group-item">
            <p>
              <a href="/venues/<%= bookmark.venue.id %>">
                <%= bookmark.venue.name %>
              </a>
              
              <small class="pull-right text-muted">
                <a href="/venues/<%= bookmark.venue.id %>/edit" class="btn btn-warning">
                  <i class="fa fa-edit"></i>
                </a>
                <a href="/delete_venue/<%= bookmark.venue.id %>" class="btn btn-danger" rel="nofollow">
                  <i class="fa fa-trash-o"></i>
                </a>
              </small>
            </p>
          </li>
        <% end %>
    
    
        <div class="panel-footer text-center">
          <a href="/dishes" class="btn btn-block btn-default">
            <i class="fa fa-chevron-left"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
  
  